@using Microsoft.AspNet.Identity
@model Photo_album.Models.UserModels.ChangePasswordModel

@if (User.Identity.GetUserId() is null)
{
    <p>@Html.ActionLink("Login", "Login", "User") or @Html.ActionLink("Register", "Register", "User") if you do not have an account!</p>
}

else
{
    {
        ViewBag.Title = "User";
    }

    using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        <div class="text-box main-wrapper rounded-inst">
            @Html.ValidationSummary("", new { @class = "alert alert-danger" }) 
            @Html.AntiForgeryToken()
            <h4>Change your password</h4>
            <div class="my-4">
                @Html.PasswordFor(model => model.OldPassword, new { @class = "inst-input", id="old-password", placeholder="Old password" })
                <label class="inst-label" for="old-password">Old password</label>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "inst-input", id="new-password", placeholder="New password" })
                <label class="inst-label" for="new-password">New password</label>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "inst-input", id="repeat-password", placeholder="Repeat new password" })
                <label class="inst-label" for="repeat-password">Repeat new password</label>
            </div>
            <div class="mt-2">
                <button class="btn-inst mx-1" type="submit">Change password</button>
                <button class="btn-inst mx-1">@Html.ActionLink("Cancel", "Index", new {} , new { @class="inst-link" })</button>
            </div>
        </div>
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}