@model Photo_album.Models.UserModels.ChangePasswordModel
@{
    ViewBag.Title = "User";
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{
    <div class="text-box border border-3 px-3 py-2 my-2">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <h4>Change your password</h4>
        <p>Old password:</p>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
        <p>New password:</p>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        <p>Repeat new password:</p>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Change password</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}