@using Microsoft.AspNet.Identity
@model Photo_album.BLL.DTOs.UserDTO

@if (Model is null)
{
    <p>@Html.ActionLink("Login", "Login", "User") or @Html.ActionLink("Register", "Register", "User") if you do not have an account!</p>
}

else
{
    {
        ViewBag.Title = "User";
    }

    <div class="text-box main-wrapper rounded-inst">
        <h2>Welcome to your @Model.UserName page!</h2>
        <h4 onclick="collapseCredentials()"
            data-bs-toggle="collapse"
            data-bs-target="#credentials"
            aria-expanded="false"
            aria-controls="credentials"
            id="collapseCredentials">
            Change your account settings <i class="fas fa-chevron-down"></i>
        </h4>
        <div class="collapse" id="credentials">
            @if (!string.Equals(Model.Id, User.Identity.GetUserId(), StringComparison.OrdinalIgnoreCase))
            {
                <div class="d-flex flex-wrap mb-2">
                    <a class="btn-inst mx-1" href="@Url.Action("Index", "Post", new {userKey = Model.Id})"><b>@Model.UserName</b> Posts:</a>
                </div>
            }
            else
            {
                <div class="d-flex flex-wrap mb-2">
                    @Html.ActionLink("Change your password", "ChangePassword", new {}, new {@class = "btn-inst mx-1"})
                    @Html.ActionLink("All Posts", "Index", "Post", new {}, new {@class = "btn-inst mx-1"})
                    @Html.ActionLink("Create your post", "PostCreate", "Post", new {}, new {@class = "btn-inst mx-1"})
                    @Html.ActionLink("Your posts", "Index", "Post", new {userKey = Model.Id}, new {@class = "btn-inst mx-1"})
                    @Html.ActionLink("Change your profile info", "ChangeProfileInfo", new {}, new {@class = "btn-inst mx-1"})
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Admin panel", "Index", "Admin", new {}, new {@class = "btn-inst mx-1"})
                    }
                </div>
            }
        </div>
        <div class="row mb-2">
            @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
            {
                <div class="col-md-6 col-sm-12 rounded-inst w-50 mb-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="rounded-circle border border-dark px-3 py-2 image" alt="Image" src="@("data:image/png;base64," + Model.ProfilePhoto)"/>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="col-md-6 col-sm-12 rounded-inst w-50">
                    <p class="text-break">@Model.Description</p>
                </div>
            }
            <div class="bg-white rounded-inst">
                <div class="text-break">
                    Posts: <b>@Model.PostDtos.Count</b>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        let credentialCollapsed = true
        const header = document.querySelector("#collapseCredentials")

        function collapseCredentials() {
            credentialCollapsed = !credentialCollapsed
            header.innerHTML = `Change your account settings <i class="fas fa-chevron-${credentialCollapsed ? 'down' : 'up'}"></i>`
        }
    </script>
}