@model Photo_album.BLL.DTOs.UserDTO

@if (Model is null)
{
    <div class="alert alert-danger" role="alert">
        Error! Model is null!
    </div>
}

else
{
    {
        ViewBag.Title = "User";
    }

    <div class="text-box main-wrapper rounded-lists">
        <h2>Welcome to @Model.UserName page!</h2>
        <div class="d-flex flex-wrap mb-2">
            <a class="btn-inst mx-1" href="@Url.Action("OtherUserPosts", "Post", new {userKey = Model.Id})"><b>@Model.UserName</b> Posts:</a>
        </div>
        <div class="row mb-2">
            @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
            {
                <div class="col-md-6 col-sm-12 rounded-inst w-50 mb-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="rounded-circle border border-dark px-3 py-2 image" alt="Image" src="@("data:image/png;base64," + Model.ProfilePhoto)" />
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="col-md-6 col-sm-12 rounded-inst w-50">
                    <p class="text-break">@Model.Description</p>
                </div>
            }
            <div class="bg-white rounded-inst">
                <div class="text-break">
                    Posts: <b>@Model.PostDtos.Count</b>
                </div>
            </div>
        </div>
    </div>
}