@model Photo_album.ViewModels.PostViewModel

@{
    ViewBag.Title = "Post";
}

<div class="col-10">
    @foreach (var item in Model.PostDTOs)
    {
    <div class="text-box border border-3 px-3 py-2 my-2">
        <div>
            <p class="border px-3 py-2"> <b>User:</b> @item.UserDto.Email.Substring(0, item.UserDto.Email.IndexOf('@'))</p>
        </div>
        <div>
            <p class="border px-3 py-2"> <b>Description:</b> @item.Description</p>
        </div>
        <div>
            <img class="border px-3 py-2" alt="Image" src="@("data:image/png;base64," + item.Image)" />
        </div>
        <div class="px-3 py-2">
            <p>@item.CreationDate.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
    </div>
    }
</div>

@*<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>*@