@model IQueryable<Photo_album.BLL.DTOs.PostDTO>

@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 col-sm-12 p-3">
            <div class="bg-white rounded-inst w-100 p-3" style="position: relative; height: 500px;">
                <div class="mb-2">
                    <a class="btn-inst" href="@Url.Action("Index", "Manage", new {userKey = item.UserId})"><b>User:</b> @(@item.UserDto.UserName.Length > 20 ? @item.UserDto.UserName.Substring(0, 20).Insert(20, "...") : @item.UserDto.UserName) </a>
                </div>
                <div>
                    <p class="px-3 py-2"> <b>Description:</b> @item.Description</p>
                </div>
                <div class="w-100 d-flex justify-content-center align-content-center">
                    <img class="px-3 py-2 mw-100" style="max-height: 300px;" alt="Image" src="@("data:image/png;base64," + item.Image)"/>
                </div>
                <div class="px-3 py-2">
                    <p><b><i>@item.CreationDate.ToString("dd/MM/yyyy HH:mm")</i></b></p>
                </div>
                <div class="mb-2" style="bottom: 20px; position: absolute;">
                    <a class="btn-inst" href="@Url.Action("FullPost", "Post", new { id = item.Id })">Full post</a>
                </div>
            </div>
        </div>
    }
</div>