@model  Photo_album.Models.UserModels.LoginModel

@{
    ViewBag.Title = "User";
}

@using (Html.BeginForm())
{
    <div class="text-box border border-3 px-3 py-2 my-2">
        @Html.AntiForgeryToken()
        <h4>Login to your account</h4>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <p>Email:</p>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <p>Password:</p>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        <div>
            @Html.LabelFor(model => model.RememberMe)
            @Html.EditorFor(model => model.RememberMe, new { @class = "form-control" })
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}