@model Photo_album.Models.UserModels.RegisterModel

@{
    ViewBag.Title = "User";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
<div class="text-box main-wrapper rounded-inst">
    @Html.AntiForgeryToken()
    <h4>Create new account</h4>
    @Html.ValidationSummary( "", new { @class = "alert alert-danger" })
    <div class="inst-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "inst-input", id = "email", placeholder = "Email" })
        <label class="inst-label" for="email">Email</label>
    </div>
    <div class="inst-group">
        @Html.TextBoxFor(model => model.UserName, new { @class = "inst-input", id = "username", placeholder = "Username" })
        <label class="inst-label" for="username">Username</label>
    </div>
    <div class="inst-group">
        @Html.PasswordFor(model => model.Password, new { @class = "inst-input", id = "password", placeholder = "Password" })
        <label class="inst-label" for="password">Password</label>
    </div>
    <div class="inst-group">
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "inst-input", id = "confirmPassword", placeholder = "Confirm password" })
        <label class="inst-label" for="confirmPassword">Confirm password</label>
    </div>
    <div class="mt-2">
        <button class="btn-inst" type="submit">Register</button>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}